{% extends "base_template.html" %}
{% block title %}KPI Chart Analysis{% endblock %}
{% block style %}
<!-- Plotly.js -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<style>
    .interior {
        height: 47%;
        width: 98%;
    }

    .outer {
        height: 95%;
        width: 95%;
    }

    .overall {
        height: 95%;
        width: 95%;
        margin: 10px auto 10px auto;
        align: center;
        padding: 10px;
    }

    .mainrow {
        height: 50%;
        width: 98%;
    }

    .bottomright {
        height: 100%;
        width: 35%;
    }

    .bottomleft {
        height: 100%;
        width: 65%;
    }

    a:link {
        color: blue;
        text-decoration: none;
    }

    a:visited {
        color: black;
        text-decoration: none;
    }

    a:hover {
        color: red;
        text-decoration: none;
        font-weight: bold;
    }
</style>
{% endblock %}
{% block navcontentcenter %}
<center><h3 style="color: white">{{ title }}</h3></center>
{% endblock %}
{% block navcontentright %}

{% endblock %}
{% block content %}
<center></center><form action="#" id="mainchartform" method="post" style="margin: 10px auto 10px auto; width: 40%;">
      <div class="row" style="margin: 10px 10px 10px 10px" id="topform">
          <div class="col">
              <label for="window">Time Window Type</label>
              <select name="window" id="window" class="form-control form-control-sm" onchange="changecat(this.value);">
                  <option value="N">N/A</option>
                  <option value="M">Month</option>
                  <option value="Q">Quarter</option>
                  <option value="Y">Year</option>
              </select>
          </div>
          <div class="col">
              <label for="timeframe">Timeframe</label>
              <select name="timeframe" id="timeframe" class="form-control form-control-sm">
                  <option value="" disabled selected>Select</option>
              </select>
          </div>
          <div class="col">
              <label for="year">Year</label>
              <select name="year" id="year" class="form-control form-control-sm">
                  <option>All</option>
                  <option>2020</option>
                  <option>2021</option>
                  <option>2022</option>
              </select>
          </div>
          <div class="col">
              <label for="demographic">Demographics</label>
              <select name="demographic" id="demographic" class="form-control form-control-sm">
                  <option>None</option>
                  <option>State</option>
                  <option>Male/Female</option>
              </select>
          </div>
          <div class="col">
              <button type="submit" class="btn btn-primary btn" form="mainchartform" style="height: 100%">Apply Changes</button>
          </div>
      </div>
  </form></center>
<script>
    var windowByFrame = {
        N:["N/A"],
        M:["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
        Q:["First Quarter", "Second Quarter", "Third Quarter", "Fourth Quarter"],
        Y:[""]
    }

    function changecat(value) {
        if (value.length == 0) document.getElementById("timeframe").innerHTML = "<option></option>";
        else {
            var catOptions = "";
            for (categoryId in windowByFrame[value]) {
                catOptions += "<option>" + windowByFrame[value][categoryId] + "</option>";
            }
            document.getElementById("timeframe").innerHTML = catOptions;
        }
    }
</script>
    <!-- overall chart div -->
    <div class="overall">
        <div class="row mainrow">
            <div class="col">
                <center><a href="/sales/" style="font-size: 32px; ">Sales</a></center>
                <br>
                <center><h6>Current Period: ${{cursales}}</h6></center>
                <center><h6>Last Period: ${{prevsales}}</h6></center>
                <div id="chart1" class="chart"></div>
            </div>
            <div class="col">
                <center><a href="/GM/" style="font-size: 32px; ">Gross Margin</a></center>
                <br>
                <center><h6>Current Period: ${{curgroMar}}</h6></center>
                <center><h6>Last Period: ${{prevgroMar}}</h6></center>
                <div id="chart2" class="chart"></div>
            </div>
            <div class="col">
                <center><a href="/FvA/" style="font-size: 32px; ">Forecast vs. Actual</a></center>
                <br>
                <center><h6>Percent Over Forecast: ${{forPer}}</h6></center>
                <br>
                <div id="chart3" class="chart"></div>
            </div>
        </div>
        <!-- <div class="row mainrow">
            <div class="col bottomleft">
                <h4>Income Statement</h4>
                <div id="chart4" class="chart"></div>
            </div>
            <div class="col bottomright">
                <div class="row">
                    <h4 style="margin: 10px auto 10px auto">Product Specific Information</h4>
                    <form action="#" id="productchartform" method="post">
                        <div class="row" style="margin: 10px auto 10px auto">
                            <div class="col">
                                <label for="indi" style="color: black">Single Product</label>
                                <select name="indi" id="indi" class="form-control form-control-sm">
                                    <option>N/A</option>
                                    <option>Product A</option>
                                    <option>Product B</option>
                                    <option>Product C</option>
                                    <option>Product B</option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="group" style="color: black">Group of Products</label>
                                <select name="group" id="group" class="form-control form-control-sm">
                                    <option>N/A</option>
                                    <option>1-10</option>
                                    <option>11-20</option>
                                    <option>21-30</option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="demographics" style="color: black">Demographics</label>
                                <select name="demographic" id="demographics" class="form-control form-control-sm">
                                    <option>N/A</option>
                                    <option>State</option>
                                    <option>Male/Female</option>
                                </select>
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-primary btn" form="productchartform" style="margin: auto 5px auto 5px;height: 100%;">Apply Changes</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col">
                        <h6>Product Sales</h6>
                    </div>
                    <div class="col">
                        <h6>Forecast vs. Actual</h6>
                    </div>
                    <div class="col">
                        <h6>Gross Margin</h6>
                    </div>
                </div>
            </div>


        </div> -->
    </div>
{% endblock %}
{% block addscript %}
    <!-- populates the quadrants on the site with the given charts -->
    <script>
        var graph1 = {{ topLeft | safe }};
        Plotly.newPlot("chart1", graph1, {});
    </script>
    <script>
        var graph2 = {{ topRight | safe }};
        Plotly.newPlot("chart2", graph2, {});
    </script>
    <script>
        var graph3 = {{ bottomLeft | safe }};
        Plotly.newPlot("chart3", graph3, {});
    </script>
{% endblock %}
