{% extends "base_template.html" %}
{% block title %}Forecast vs. Actual{% endblock %}
{% block style %}
<!-- Plotly.js -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<style>
    .interior {
        height: 47%;
        width: 98%;
    }

    .outer {
        height: 95%;
        width: 95%;
    }

    .overall {
        height: 95%;
        width: 95%;
        margin: 10px auto 10px auto;
        align: center;
        padding: 10px;
    }

    .mainrow {
        height: 50%;
        width: 98%;
    }

    .bottomright {
        height: 100%;
        width: 35%;
    }

    .bottomleft {
        height: 100%;
        width: 65%;
    }
</style>
{% endblock %}
{% block navcontentcenter %}
<center><h3 style="color: white">{{ title }}</h3></center>
{% endblock %}
{% block navcontentright %}

{% endblock %}
{% block content %}
<center><form action="#" id="tabularform" name="tabularform" method="post" style="width: 50%; margin: 20px auto 20px auto;"><div class="row">
    <div class="col">
        <label for="type">Data Type</label>
        <select id="type" name="type" class="form-control form-control-sm" onchange="changecat2(this.value);">
            <option value="Sales">Sales</option>
            <option value="Products">Products</option>
            <option value="Customers">Customers</option>
            <option value="Forecasts">Forecasts</option>
            <option value="SBP">Sales by Product</option>
        </select>
    </div>
    <div class="col">
      <label for="window">Window Type</label>
      <select name="window" id="window" class="form-control form-control-sm" onchange="changecat1(this.value);">
          <option value="N">N/A</option>
          <option value="M">Month</option>
          <option value="Q">Quarter</option>
          <option value="Y">Year</option>
      </select>
    </div>
    <div class="col">
      <label for="timeframe">Timeframe</label>
      <select name="timeframe" id="timeframe" class="form-control form-control-sm">
          <option value="">N/A</option>
      </select>
    </div>
    <div class="col">
      <label for="year">Year</label>
      <select name="year" id="year" class="form-control form-control-sm">
          <option value="All">All</option>
          <option value="2020">2020</option>
          <option value="2021">2021</option>
          <option value="2022">2022</option>
      </select>
    </div>
    <div class="col">
        <label for="state">State</label>
        <select id="state" name="state" class="form-control form-control-sm">
            <option>N/A</option>
            <option>Ohio</option>
            <option>Arizona</option>
            <option>California</option>
            <option>Texas</option>
            <option>Florida</option>
            <option>New York</option>
        </select>
    </div>
    <div class="col">
        <label for="sex">Sex</label>
        <select id="sex" name="sex" class="form-control form-control-sm">
            <option>N/A</option>
            <option>Male</option>
            <option>Female</option>
        </select>
    </div>
    <div class="col">
        <button type="submit" class="btn btn-primary btn" form="tabularform" style="height: 100%">Apply Changes</button>
    </div>
</div></form></center>
<script>
    var windowByFrame = {
        N:["N/A"],
        M:["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
        Q:["First Quarter", "Second Quarter", "Third Quarter", "Fourth Quarter"],
        Y:[""]
    }

    var state = {
        Sales:["N/A", "Ohio", "Arizona", "California", "Texas", "Florida", "New York"],
        Products:["N/A"],
        Customers:["N/A", "Ohio", "Arizona", "California", "Texas", "Florida", "New York"],
        Forecasts:["N/A"],
        SBP:["N/A"]
    }

    var sex = {
        Sales:["N/A", "Male", "Female"],
        Products:["N/A"],
        Customers:["N/A", "Male", "Female"],
        Forecasts:["N/A"],
        SBP:["N/A"]
    }

    function changecat1(value) {
        if (value.length == 0) document.getElementById("timeframe").innerHTML = "<option></option>";
        else {
            var catOptions = "";
            for (categoryId in windowByFrame[value]) {
                catOptions += "<option>" + windowByFrame[value][categoryId] + "</option>";
            }
            document.getElementById("timeframe").innerHTML = catOptions;
        }
    }

    function changecat2(value) {
        if (value.length == 0) document.getElementById("state").innerHTML = "<option></option>";
        else {
            var catOptions = "";
            for (categoryId in state[value]) {
                catOptions += "<option>" + state[value][categoryId] + "</option>";
            }
            document.getElementById("state").innerHTML = catOptions;
        }
        if (value.length == 0) document.getElementById("sex").innerHTML = "<option></option>";
        else {
            var catOptions = "";
            for (categoryId in sex[value]) {
                catOptions += "<option>" + sex[value][categoryId] + "</option>";
            }
            document.getElementById("sex").innerHTML = catOptions;
        }
    }
</script>
    <!-- overall chart div -->
<center>
    <div class="overall">
        <div class="row mainrow">
            <div class="col" style="margin: 10px 10px 10px 10px; background-color: #25d2b8; color: #414b49; border-radius: 15px;">
                <center><h2>Forecast vs. Actual</h2></center>
                <br>
                <center><h6>Percent Over Forecast: ${{forPer}}</h6></center>
                <br>
                <div id="chart3" class="chart"></div>
            </div>        
        </div>
    </div>
</center>
{% endblock %}
{% block addscript %}
    <!-- populates the quadrants on the site with the given charts -->
     <script>
        var graph3 = {{ fva_chart | safe }};
        Plotly.newPlot("chart3", graph3, {});
    </script>
{% endblock %}