{% extends "base_template.html" %}
{% block title %}Gross Margin{% endblock %}
{% block style %}
<!-- Plotly.js -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<style>
    .interior {
        height: 47%;
        width: 98%;
    }

    .outer {
        height: 95%;
        width: 95%;
    }

    .overall {
        height: 95%;
        width: 95%;
        margin: 10px auto 10px auto;
        align: center;
        padding: 10px;
    }

    .mainrow {
        height: 50%;
        width: 98%;
    }

    .bottomright {
        height: 100%;
        width: 35%;
    }

    .bottomleft {
        height: 100%;
        width: 65%;
    }
</style>
{% endblock %}
{% block navcontentcenter %}
<center><h3 style="color: white">{{ title }}</h3></center>
{% endblock %}
{% block navcontentright %}

{% endblock %}
{% block content %}
<center><form action="#" id="tabularform" name="tabularform" method="post" style="width: 50%; margin: 20px auto 20px auto;"><div class="row">
    <div class="col">
      <label for="window">Window Type</label>
      <select name="window" id="window" class="form-control form-control-sm" onchange="changecat1(this.value);">
          <option value="N">N/A</option>
          <option value="M">Month</option>
          <option value="Q">Quarter</option>
          <option value="Y">Year</option>
      </select>
    </div>
    <div class="col">
      <label for="timeframe">Timeframe</label>
      <select name="timeframe" id="timeframe" class="form-control form-control-sm">
          <option value="">N/A</option>
      </select>
    </div>
    <div class="col">
      <label for="year">Year</label>
      <select name="year" id="year" class="form-control form-control-sm">
          <option value="All">All</option>
          <option value="2020">2020</option>
          <option value="2021">2021</option>
          <option value="2022">2022</option>
      </select>
    </div>
    <div class="col">
        <label for="state">State</label>
        <select id="state" name="state" class="form-control form-control-sm">
            <option>N/A</option>
            <option>Washington</option>
            <option>Oregon</option>
            <option>California</option>
            <option>Idaho</option>
            <option>Utah</option>
            <option>Nevada</option>
            <option>Montana</option>
            <option>Wyoming</option>
            <option>Colorado</option>
            <option>Alaska</option>
            <option>Hawaii</option>
            <option>North Dakota</option>
            <option>South Dakota</option>
            <option>Nebraska</option>
            <option>Kansas</option>
            <option>Minnesota</option>
            <option>Iowa</option>
            <option>Missouri</option>
            <option>Wisconsin</option>
            <option>Illinois</option>
            <option>Michigan</option>
            <option>Indiana</option>
            <option>Ohio</option>
            <option>Arizona</option>
            <option>New Mexico</option>
            <option>Texas</option>
            <option>Oklahoma</option>
            <option>Maine</option>
            <option>New Hampshire</option>
            <option>Vermont</option>
            <option>Massachusetts</option>
            <option>New York</option>
            <option>Rhode Island</option>
            <option>Connecticut</option>
            <option>New Jersey</option>
            <option>Pennsylvania</option>
            <option>Delaware</option>
            <option>Maryland</option>
            <option>West Virginia</option>
            <option>Kentucky</option>
            <option>Virginia</option>
            <option>Arkansas</option>
            <option>Tennessee</option>
            <option>North Carolina</option>
            <option>South Carolina</option>
            <option>Mississippi</option>
            <option>Alabama</option>
            <option>Georgia</option>
            <option>Louisiana</option>
            <option>Florida</option>
        </select>
    </div>
    <div class="col">
        <label for="sex">Sex</label>
        <select id="sex" name="sex" class="form-control form-control-sm">
            <option>N/A</option>
            <option>Male</option>
            <option>Female</option>
        </select>
    </div>
    <div class="col">
        <button type="submit" class="btn btn-primary btn" form="tabularform" style="height: 100%">Apply Changes</button>
    </div>
</div></form></center>
<script>
    var windowByFrame = {
        N:["N/A"],
        M:["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
        Q:["First Quarter", "Second Quarter", "Third Quarter", "Fourth Quarter"],
        Y:[""]
    }

    function changecat1(value) {
        if (value.length == 0) document.getElementById("timeframe").innerHTML = "<option></option>";
        else {
            var catOptions = "";
            for (categoryId in windowByFrame[value]) {
                catOptions += "<option>" + windowByFrame[value][categoryId] + "</option>";
            }
            document.getElementById("timeframe").innerHTML = catOptions;
        }
    }

    function changecat2(value) {
        if (value.length == 0) document.getElementById("state").innerHTML = "<option></option>";
        else {
            var catOptions = "";
            for (categoryId in state[value]) {
                catOptions += "<option>" + state[value][categoryId] + "</option>";
            }
            document.getElementById("state").innerHTML = catOptions;
        }
        if (value.length == 0) document.getElementById("sex").innerHTML = "<option></option>";
        else {
            var catOptions = "";
            for (categoryId in sex[value]) {
                catOptions += "<option>" + sex[value][categoryId] + "</option>";
            }
            document.getElementById("sex").innerHTML = catOptions;
        }
    }
</script>
    <!-- overall chart div -->
<center>
    <div class="overall">
        <div class="row mainrow">
            <div class="col" style="margin: 10px 10px 10px 10px; background-color: #212529; color: white; border-radius: 15px;">
                <center><h2>Gross Margin</h2></center>
                <center><h6>Net Profit: ${{ netProfit }}</h6></center>
                <div id="chart2" class="chart" style="margin: 10px 10px 10px 10px"></div>
            </div>
            <div class="col">
                <div style="margin: 10px 10px 10px 10px; background-color: #212529; color: white; border-radius: 15px;">
                <h3 style="margin: 10px 10px 10px 10px"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-compass" viewBox="0 0 16 16">
  <path d="M8 16.016a7.5 7.5 0 0 0 1.962-14.74A1 1 0 0 0 9 0H7a1 1 0 0 0-.962 1.276A7.5 7.5 0 0 0 8 16.016zm6.5-7.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"></path>
  <path d="m6.94 7.44 4.95-2.83-2.83 4.95-4.949 2.83 2.828-4.95z"></path>
</svg>Revenue</h3>
                <table class="table" style="margin: 10px 10px 10px 10px; color: white;">
                    <tr>
                        <th style="width: 40px">Region</th>
                        <th style="width: 40px">Revenue Generated</th>
                    </tr>
                    {% for r in revenues: %}
                    <tr>
                        <td style="width: 40px">{{ r[0] }}</td>
                        <td style="width: 40px">${{ r[1] }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th style="width: 40px">Total Revenue & Gains</th>
                        <td style="width: 40px">${{ totalRevenue }}</td>
                    </tr>                    
                </table>
                </div>
                <br>
                <div style="margin: 10px 10px 10px 10px; background-color: #212529; color: white; border-radius: 15px;">
                <h3 style="margin: 10px 10px 10px 10px">Expenses</h3>
                <table class="table" style="margin: 10px 10px 10px 10px; color: white;">
                    <tr>
                        <th style="width: 40px">Region</th>
                        <th style="width: 40px">COGS</th>
                    </tr>
                    {% for e in expenses: %}
                    <tr>
                        <td style="width: 40px">{{ e[0] }}</td>
                        <td style="width: 40px">${{ e[1] }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th style="width: 40px">Total Expenses</th>
                        <td style="width: 40px">${{ totalExpenses }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th style="width: 40px">Net Profit</th>
                        <td style="width: 40px">${{ netProfit }}</td>
                    </tr>
                </table>
                </div>
            </div>
        </div>
    </div>
    </center>
{% endblock %}
{% block addscript %}
    <!-- populates the quadrants on the site with the given charts -->
    <script>
        var graph2 = {{ gm_chart | safe }};
        Plotly.newPlot("chart2", graph2, {});
    </script>
{% endblock %}
