{% extends "base_template.html" %}
{% block title %}Welcome{% endblock %}
{% block style %}
<style>
button.homeButton:hover {
    width: 70%;
    height: 380px;
    margin: 60px auto 10px auto;
}
</style>
{% endblock %}
{% block navcontentcenter %}

{% endblock %}
{% block navcontentright %}

{% endblock %}
{% block content %}
    <div class="row">
        <div class="col" style="margin: 10px; border-radius: 10px; ">
            <center>
                <a href="/inventory/"><button class="btn btn-primary btn homeButton" style="margin: 8vh auto 80px auto; width: 19vw; height: 32vh;"><h2>Inventory</h2></button></a>
                <p style="width: 55%; font-size: 2.8vh;">Select the Inventory page to view stock and shipping data.</p>
            </center>
        </div>
        <div class="col">
            <center>
                <a href="/charts/"><button class="btn btn-primary btn homeButton" style="margin: 5vh auto 40px auto; width: 22vw; height: 40vh;"><h2>Performance</h2></button></a>
                <p style="width: 55%; font-size: 2.8vh;">Select the Performance view to examine KPI's and associated visuals.</p>
            </center>
        </div>
        <div class="col">
            <center>
                <a href="/tabular/"><button class="btn btn-primary btn homeButton" style="margin: 8vh auto 80px auto; width: 19vw; height: 32vh;"><h2>Detailed Data</h2></button></a>
                <p style="width: 55%; font-size: 2.8vh;">Select the Detailed Data view to see just necessary values and optional raw data.</p>
            </center>
        </div>
    </div>
{% endblock %}
