{% extends "base_template.html" %}
{% block title %}Sales{% endblock %}
{% block style %}
<!-- Plotly.js -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<style>
    .interior {
        height: 47%;
        width: 98%;
    }

    .outer {
        height: 95%;
        width: 95%;
    }

    .overall {
        height: 95%;
        width: 95%;
        margin: 10px auto 10px auto;
        align: center;
        padding: 10px;
    }

    .mainrow {
        height: 50%;
        width: 98%;
    }

    .bottomright {
        height: 100%;
        width: 35%;
    }

    .bottomleft {
        height: 100%;
        width: 65%;
    }
</style>
{% endblock %}
{% block navcontentcenter %}
<center><h3 style="color: white">{{ title }}</h3></center>
{% endblock %}
{% block navcontentright %}

{% endblock %}
{% block content %}
<center><form action="#" id="tabularform" name="tabularform" method="post" style="width: 50%; margin: 20px auto 20px auto;"><div class="row">
    <div class="col">
      <label for="window">Window Type</label>
      <select name="window" id="window" class="form-control form-control-sm" onchange="changecat1(this.value);">
          <option value="N">N/A</option>
          <option value="M">Month</option>
          <option value="Q">Quarter</option>
          <option value="Y">Year</option>
      </select>
    </div>
    <div class="col">
      <label for="timeframe">Timeframe</label>
      <select name="timeframe" id="timeframe" class="form-control form-control-sm">
          <option value="">N/A</option>
      </select>
    </div>
    <div class="col">
      <label for="year">Year</label>
      <select name="year" id="year" class="form-control form-control-sm">
          <option value="All">All</option>
          <option value="2020">2020</option>
          <option value="2021">2021</option>
          <option value="2022">2022</option>
      </select>
    </div>
    <div class="col">
        <label for="state">State</label>
        <select id="state" name="state" class="form-control form-control-sm">
            <option>N/A</option>
            <option>Washington</option>
            <option>Oregon</option>
            <option>California</option>
            <option>Idaho</option>
            <option>Utah</option>
            <option>Nevada</option>
            <option>Montana</option>
            <option>Wyoming</option>
            <option>Colorado</option>
            <option>Alaska</option>
            <option>Hawaii</option>
            <option>North Dakota</option>
            <option>South Dakota</option>
            <option>Nebraska</option>
            <option>Kansas</option>
            <option>Minnesota</option>
            <option>Iowa</option>
            <option>Missouri</option>
            <option>Wisconsin</option>
            <option>Illinois</option>
            <option>Michigan</option>
            <option>Indiana</option>
            <option>Ohio</option>
            <option>Arizona</option>
            <option>New Mexico</option>
            <option>Texas</option>
            <option>Oklahoma</option>
            <option>Maine</option>
            <option>New Hampshire</option>
            <option>Vermont</option>
            <option>Massachusetts</option>
            <option>New York</option>
            <option>Rhode Island</option>
            <option>Connecticut</option>
            <option>New Jersey</option>
            <option>Pennsylvania</option>
            <option>Delaware</option>
            <option>Maryland</option>
            <option>West Virginia</option>
            <option>Kentucky</option>
            <option>Virginia</option>
            <option>Arkansas</option>
            <option>Tennessee</option>
            <option>North Carolina</option>
            <option>South Carolina</option>
            <option>Mississippi</option>
            <option>Alabama</option>
            <option>Georgia</option>
            <option>Louisiana</option>
            <option>Florida</option>
        </select>
    </div>
    <div class="col">
        <label for="sex">Sex</label>
        <select id="sex" name="sex" class="form-control form-control-sm">
            <option>N/A</option>
            <option>Male</option>
            <option>Female</option>
        </select>
    </div>
    <div class="col">
        <button type="submit" class="btn btn-primary btn" form="tabularform" style="height: 100%">Apply Changes</button>
    </div>
</div></form></center>
<script>
    var windowByFrame = {
        N:["N/A"],
        M:["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
        Q:["First Quarter", "Second Quarter", "Third Quarter", "Fourth Quarter"],
        Y:[""]
    }

    var state = {
        Sales:["N/A", "Ohio", "Arizona", "California", "Texas", "Florida", "New York"],
        Products:["N/A"],
        Customers:["N/A", "Ohio", "Arizona", "California", "Texas", "Florida", "New York"],
        Forecasts:["N/A"],
        SBP:["N/A"]
    }

    var sex = {
        Sales:["N/A", "Male", "Female"],
        Products:["N/A"],
        Customers:["N/A", "Male", "Female"],
        Forecasts:["N/A"],
        SBP:["N/A"]
    }

    function changecat1(value) {
        if (value.length == 0) document.getElementById("timeframe").innerHTML = "<option></option>";
        else {
            var catOptions = "";
            for (categoryId in windowByFrame[value]) {
                catOptions += "<option>" + windowByFrame[value][categoryId] + "</option>";
            }
            document.getElementById("timeframe").innerHTML = catOptions;
        }
    }

    function changecat2(value) {
        if (value.length == 0) document.getElementById("state").innerHTML = "<option></option>";
        else {
            var catOptions = "";
            for (categoryId in state[value]) {
                catOptions += "<option>" + state[value][categoryId] + "</option>";
            }
            document.getElementById("state").innerHTML = catOptions;
        }
        if (value.length == 0) document.getElementById("sex").innerHTML = "<option></option>";
        else {
            var catOptions = "";
            for (categoryId in sex[value]) {
                catOptions += "<option>" + sex[value][categoryId] + "</option>";
            }
            document.getElementById("sex").innerHTML = catOptions;
        }
    }
</script>
    <!-- overall chart div -->
<center>
    <div class="overall">
        <div class="row mainrow">
            <h2>{{ dyn_tit }}</h2>
            <div class="col" style="margin: 10px 10px 10px 10px; background-color: #212529; color: white; border-radius: 15px;">
                <center><h2><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
  <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9H5.5zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518l.087.02z"></path>
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
  <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11zm0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"></path>
</svg>Sales</h2></center>
                <br>
                <center><h6>Current Period: ${{cursales}}</h6></center>
                <div id="chart1" class="chart" style="margin: 10px 10px 10px 10px"></div>
            </div>
            <div class="col">
            <div class="row" style="margin: 10px 10px 10px 10px; background-color: #212529; color: white; border-radius: 15px;">
                <h3>Regional Sales</h3>
                <table class="table" style="color: white">
                    <tr>
                        <th>Region</th>
                        <th>Revenue Generated</th>
                    </tr>
                    {% for p in top_prods: %}
                    <tr>
                        <td>{{ p[0] }}</td>
                        <td>${{ p[1] }}</td>
                    </tr>
                    {% endfor %}
                </table>
                </div>
            <div class="row" style="margin: 10px 10px 10px 10px; background-color: #212529; color: white; border-radius: 15px;">
                <h3>Top Selling Categories</h3>
                <table class="table" style="color: white">
                    <tr>
                        <th>Product ID</th>
                        <th>Sales ($)</th>
                    </tr>
                    {% for c in top_cats: %}
                    <tr>
                        <td>{{ c[0] }}</td>
                        <td>{{ c[1] }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
                </div>
        </div>
    </div>
</center>
{% endblock %}
{% block addscript %}
    <!-- populates the quadrants on the site with the given charts -->
    <script>
        var graph1 = {{ sales_chart | safe }};
        Plotly.newPlot("chart1", graph1, {});
    </script>
{% endblock %}
